.bghome {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgnav {
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(5px);
    max-width: 1020px;
    margin-right: -120px;
    padding: 20px 0px 20px 100px;
    margin-top: 30px;
    max-height: 86px;
  }
  
  .hrow {
    width: 1250px !important ;
    height: 2px;
    background-color: #ffffff !important;
    position: absolute;
    top: 65px;
    left: 365px;
    color: #ffffff;
    z-index: 1;
  }
  
  .nav-link:hover {
    border-bottom: #ffffff 3px solid;
    padding-bottom: 25px;
  }
  
  .active {
    border-bottom: #ffffff 3px solid;
    padding-bottom: 25px;
  }
  .heading{
    margin-top: 200px;
  }
  .list{
    list-style: none;
    max-width: 600px;
    margin-left: -20px;
  }
  .link{
    text-decoration: none;
  }
  .link:hover {
    border-bottom: #ffffff 3px solid;
    padding-bottom: 25px;
  }
  
  .active {
    border-bottom: #ffffff 3px solid;
    padding-bottom: 25px;
  }
  .moon{
    font-size: 150px;
  }
  .hrow2 {
    width: 800px;
    height: 2px;
    background-color: #ffffff !important;
    color: #ffffff;
    margin: 30px 0px ;
  }
  .img{
    width: 300px;
    height: 300px;
  }


  @media only screen and (max-width: 2560px) {
    .bghome {
      background-image: url("../assets/destination/background-destination-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .hrow {
      width: 1500px ;
      height: 2px;
      background-color: #ffffff !important;
      position: absolute;
      top: 65px;
      left: 200px;
      color: #ffffff;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 1536px) {
    .hrow {
      width: 500px !important;
      height: 2px;
      background-color: #ffffff !important;
      position: absolute;
      top: 65px;
      left: 180px;
      color: #ffffff;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 1440px) {
    .hrow {
      width: 400px !important;
      height: 2px;
      background-color: #ffffff !important;
      position: absolute;
      top: 65px;
      left: 200px;
      color: #ffffff;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .hrow {
      display: none;
    }
    .img{
        width: 200px;
        height: 200px;
    }
    .moon{
        font-size: 100px;
    }
    .hrow2 {
        width: 400px;
        height: 2px;
        background-color: #ffffff !important;
        color: #ffffff;
        margin: 30px 0px ;
      }
  }
  
  @media only screen and (max-width: 768px) {
    .btn-close {
      margin-right: 120px !important;
    }
    .bgnav {
      margin-top: 0px;
      max-width: 700px;
      max-height: 1000px ;
    }
    .offcanvas-body {
      position: absolute;
      top: 70px;
      left: 10px;
    }
    .bghome {
      background-image: url("../assets/destination/background-destination-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .row{
        display: block;
        text-align: center;
    }
    .hrow2{
        width: 700px;
        height: 2px;
        background-color: #ffffff !important;
        color: #ffffff;
        margin: 30px 0px ;
    }
  }
  @media only screen and (max-width: 450px) {
    .hrow2{
        width: 350px;
    }
  }
  @media only screen and (max-width: 425px) {
    .btn-close {
      margin-right: 120px !important;
    }
    .bgnav {
      margin-top: 0px;
      max-width: 400px;
    }
    .offcanvas-body {
      position: absolute;
      top: 70px;
      left: 10px;
    }
    .bghome {
      background-image: url("../assets/destination/background-destination-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .hrow2{
        width: 280px !important;
        height: 2px;
        background-color: #ffffff !important;
        color: #ffffff;
        margin: 30px 0px ;
    }
    .moon{
        font-size: 70px;
    }
    .link{
        font-size: 15px;
    }
  }
  